.Title {
  text-align: top;
}


.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttonTo {
  background-color: #00e1ff;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  color: white;
}

.buttonTo:active {
  background-color: #5a5a5a;
}